input{
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--border);
    color: white;
    margin-bottom: 15px;
    width: 20%;
    transition: 0.3s;
    height: 25px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
    padding: 0 5px;

}

label{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--blue);
}

.form{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    perspective: 1000px;
    
}

input,
select {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--border);
    color: white;
    margin-bottom: 15px;
    width: 100%;
    transition: 0.3s;
    height: 25px;
}

input:focus,
select:focus {
    outline: none;
    border-color: var(--orange);
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.3);
}

button{
        text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid var(--blue);
    background: transparent;
    color: var(--blue);
    height: 25px;
    width: 150px;
    /* padding: 10px; */
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    padding: 3px;
}

button:hover {
    outline: none;
    border-color: var(--orange);
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.3);
}

.containerbutton{
    display: flex;
    justify-content: space-around;
}